/* **************************** 颜色 *****************************/
@each $i in $colors {
  .col-#{$i} {
    color: #{"#" + $i};
  }
}

/* **************************** margin间距 *****************************/
@each $i in $spaces {
  .m#{$i} {
    margin: #{$i}px;
  }
}
@each $i in $spaces {
  .mt#{$i} {
    margin-top: #{$i}px;
  }
}
@each $i in $spaces {
  .mr#{$i} {
    margin-right: #{$i}px;
  }
}
@each $i in $spaces {
  .ml#{$i} {
    margin-left: #{$i}px;
  }
}
@each $i in $spaces {
  .mb#{$i} {
    margin-bottom: #{$i}px;
  }
}

/* **************************** padding间距 *****************************/
@each $i in $spaces {
  .p#{$i} {
    padding: #{$i}px;
  }
}
@each $i in $spaces {
  .pt#{$i} {
    padding-top: #{$i}px;
  }
}
@each $i in $spaces {
  .pr#{$i} {
    padding-right: #{$i}px;
  }
}
@each $i in $spaces {
  .pl#{$i} {
    padding-left: #{$i}px;
  }
}
@each $i in $spaces {
  .pb#{$i} {
    padding-bottom: #{$i}px;
  }
}
